:root {
  /* Color styles */
  --greyscale-0: rgba(255, 255, 255, 1);
  --greyscale-25: rgba(250, 250, 250, 1);
  --greyscale-50: rgba(245, 245, 245, 1);
  --greyscale-100: rgba(229, 229, 229, 1);
  --greyscale-200: rgba(212, 212, 212, 1);
  --greyscale-300: rgba(163, 163, 163, 1);
  --greyscale-400: rgba(115, 115, 115, 1);
  --greyscale-500: rgba(82, 82, 82, 1);
  --greyscale-600: rgba(64, 64, 64, 1);
  --greyscale-700: rgba(38, 38, 38, 1);
  --greyscale-800: rgba(23, 23, 23, 1);
  --greyscale-900: rgba(10, 10, 10, 1);
  --greyscale-1000: rgba(0, 0, 0, 1);
  --aqua-0: rgba(240, 251, 255, 1);
  --aqua-25: rgba(209, 240, 250, 1);
  --aqua-50: rgba(126, 221, 241, 1);
  --aqua-100: rgba(51, 207, 255, 1);
  --aqua-200: rgba(17, 107, 151, 1);
  --aqua-300: rgba(12, 78, 110, 1);
  --red-0: rgba(255, 240, 243, 1);
  --red-25: rgba(250, 219, 225, 1);
  --red-50: rgba(237, 130, 150, 1);
  --red-100: rgba(223, 28, 65, 1);
  --red-200: rgba(150, 19, 44, 1);
  --red-300: rgba(113, 14, 33, 1);
  --green-0: rgba(239, 254, 250, 1);
  --green-25: rgba(221, 243, 239, 1);
  --green-50: rgba(158, 225, 212, 1);
  --green-100: rgba(64, 196, 170, 1);
  --green-200: rgba(40, 128, 111, 1);
  --green-300: rgba(24, 78, 68, 1);
  --yellow-0: rgba(255, 246, 224, 1);
  --yellow-50: rgba(252, 218, 131, 1);
  --yellow-100: rgba(255, 190, 76, 1);
  --yellow-200: rgba(150, 100, 34, 1);
  --yellow-300: rgba(92, 61, 31, 1);
  --yellow-25: rgba(250, 237, 204, 1);

  --gap: 8px;
  /* Text-size styles */
  --font-google-sans-code: var(--font-google-sans-code);
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
  /* Font family styles */
  // --ff-gc: var(--font-google-sans-code);
  // --ff-gs: --font-geist-sans;
  // --ff-gm: var(--font-geist-mono);

  --fs-body: var(--mono-l-regular);
  --lh-body: var(--mono-l-regular-lh);
  --fw-body: var(--mono-l-regular-fw);

  --fs-footer: var(--mono-s-regular);

  --fs-folder-button: var(--mono-heading5-desktop);
  --lh-folder-button: var(--mono-heading5-desktop-lh);

  --color-body: var(--greyscale-900);
  --color-body-contrast: var(--greyscale-0);
  --color-bg: var(--greyscale-1000);
  --color-footer: var(--color-red-100);
  --color-red: #bc403c;
  --color-red-100: #9b3531;
  --color-drop-shadow: rgba(0, 0, 0, 0.3);

  --mono-l-regular-lh: 130%;
  --mono-l-regular-fw: normal;
  --mono-heading5-desktop-lh: 130%;

  --mono-heading1-desktop: 12.8rem;
  --mono-heading1-mobile: 5.6rem;
  --mono-heading2-desktop: 9.6rem;
  --mono-heading2-mobile: 4.8rem;
  --mono-heading3-desktop: 6.4rem;
  --mono-heading3-mobile: 4rem;
  --mono-heading4-desktop: 4.8rem;
  --mono-heading4-mobile: 3.2rem;
  --mono-heading5-desktop: 3.2rem;
  --mono-heading5-mobile: 2.4rem;
  --mono-heading6-desktop: 2.4rem;
  --mono-heading6-mobile: 1.6rem;
  --mono-l-light: 2rem;
  --mono-l-regular: 2rem;
  --mono-l-medium: 2rem;
  --mono-l-semibold: 2rem;
  --mono-l-semibold-alt: 2rem;
  --mono-m-light: 1.8rem;
  --mono-m-regular: 1.8rem;
  --mono-m-medium: 1.8rem;
  --mono-m-semibold: 1.8rem;
  --mono-s-light: 1.6rem;
  --mono-s-regular: 1.6rem;
  --mono-s-medium: 1.6rem;
  --mono-s-semibold: 1.6rem;
  --mono-xs-light: 1.4rem;
  --mono-xs-regular: 1.4rem;
  --mono-xs-medium: 1.4rem;
  --mono-xs-semibold: 1.4rem;
  --mono-xxs-light: 1.2rem;
  --mono-xxs-regular: 1.2rem;
  --mono-xxs-medium: 1.2rem;
  --mono-xxs-semibold: 1.2rem;
  --body-l-light: 2rem;
  --body-l-regular: 2rem;
  --body-l-medium: 2rem;
  --body-l-semibold: 2rem;
  --body-l-semibold-alt: 2rem;
  --body-m-light: 1.8rem;
  --body-m-regular: 1.8rem;
  --body-m-medium: 1.8rem;
  --body-m-semibold: 1.8rem;
  --body-s-light: 1.6rem;
  --body-s-regular: 1.6rem;
  --body-s-medium: 1.6rem;
  --body-s-semibold: 1.6rem;
  --body-xs-light: 1.4rem;
  --body-xs-regular: 1.4rem;
  --body-xs-medium: 1.4rem;
  --body-xs-semibold: 1.4rem;
  --body-xxs-light: 1.2rem;
  --body-xxs-regular: 1.2rem;
  --body-xxs-medium: 1.2rem;
  --body-xxs-semibold: 1.2rem;

  /* Effect styles */
  --shadow: 0px 0px 0px rgba(23, 23, 23, 0.32),
    0px 0px 0px rgba(255, 255, 255, 1), 0px 0px 0px rgba(23, 23, 23, 1),
    0px 1px 2px rgba(23, 23, 23, 0.4);
  --drop-shadow: 0px 0px 0px rgba(64, 196, 170, 0.32),
    0px 0px 0px rgba(255, 255, 255, 1), 0px 0px 0px rgba(64, 196, 170, 1),
    0px 1px 2px rgba(64, 196, 170, 0.4);
}
