@use "@/app/styles/mixins" as *;
.about-container {
  width: 100%;
  padding-top: clamp(13px, 4vw, 32px);
  padding-left: clamp(13px, 1vw, 200px);
  padding-right: clamp(13px, 1vw, 200px);
  position: relative;
  min-height: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.disc-player {
  position: absolute;
  bottom: calc(var(--footer-height) + clamp(64px, 10vw, 96px));
  right: 0;
}

.content-wrapper {
  margin: auto;
  width: 100%;
  position: relative;
  max-width: 800px;
  padding-bottom: calc(var(--footer-height) + 64px);
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    &-img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }
  .content-overflow-wrapper {
    height: 100%;
    width: 100%;
    .content {
      width: 78.2%;
      margin: clamp(19px, 5vw, 58px) clamp(19px, 6vw, 64px);
      .wrapper {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 26px;
        flex-direction: column;
      }
      &__title {
        font-size: var(--mono-m-regular);
        font-weight: 400;
        font-family: var(--ff-gm);
        color: var(--color-body);
      }
      &__download-btn {
        gap: 6px;
        & > * {
          color: var(--greyscale-0);
          font-size: var(--mono-m-medium);
          font-weight: 500;
          font-family: var(--ff-gm);
        }
      }
      .content__group {
        width: 100%;
        max-width: 480px;
        &-titlewrapper {
          .title {
            font-size: var(--mono-heading6-desktop);
            font-weight: 500;
            font-family: var(--ff-gm);
          }
          .line {
            margin-top: 10px;
            margin-bottom: 19px;
            height: 2px;
            width: 100%;
            background-color: var(--greyscale-900);
          }
        }
        &-infogroup-list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 19px;
          .infogroup {
            width: 100%;
            &__titlegroup {
              display: flex;
              align-items: center;
              gap: 13px;
              width: 100%;
              &-title {
                text-wrap: nowrap;
                font-size: var(--mono-m-regular);
                font-weight: 400;
                font-family: var(--ff-gm);
                background-color: var(--greyscale-900);
                color: var(--greyscale-0);
                padding-left: 5px;
                padding-right: 5px;
              }
              &-line {
                height: 0.5px;
                width: 100%;
                flex: 1;
                background-color: var(--greyscale-300);
              }
            }
            &__descgrouplist {
              &.--dot {
                li {
                  &::before {
                    content: "";
                    width: 4px;
                    height: 4px;
                    background-color: var(--greyscale-900);
                    border-radius: 100%;
                    margin-left: 10px;
                  }
                }
              }
              &-item {
                margin-top: 10px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 13px;
                .desc {
                  font-size: var(--body-m-medium);
                  font-weight: 500;
                  font-family: var(--ff-gs);
                }
              }
            }
          }
        }
      }
    }
  }
}

@include mobile-breakpoint {
}
