@use "@/app/styles/mixins" as *;
.work-container-wrapper {
  height: 100%;
  width: 100%;
}
.work-container {
  padding-top: clamp(16px, 4vw, 40px);
  padding-left: clamp(16px, 6vw, 120px);
  padding-right: clamp(16px, 6vw, 120px);
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  will-change: transform;
}

.work-content {
  height: 100%;
  width: 100%;
  position: relative;
  &__bg-paper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    color: initial;
  }
  &__info {
    position: relative;
    z-index: 1;
    padding-top: clamp(32px, 4vw, 72px);
    padding-left: clamp(32px, 6vw, 80px);
    padding-right: clamp(32px, 6vw, 80px);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--gap);
    &-title {
      font-size: var(--mono-l-regular);
      line-height: var(--lh-l-regular);
      font-weight: normal;
      font-size: var(--greyscale-900);
      max-width: 410px;
      .cursor {
        display: inline;
        animation: blink 0.8s step-end infinite;
      }
    }
    &-tags {
      .offer {
        font-size: var(--mono-l-regular);
        &__text {
          color: rgba(10, 10, 10, 0.6);
        }
        &__value {
          color: var(--greyscale-0);
          background-color: var(--greyscale-900);
          padding-left: 6px;
          padding-right: 6px;
          &-blinker {
            animation: blink 1s step-end infinite;
          }
        }
      }
      .progress {
        margin-top: 8px;
        width: 100%;
        height: 8px;
        background-color: rgba(10, 10, 10, 0.2);
        min-width: 192px;
        &__bar {
          height: 100%;
          width: 70%;
          background-color: rgba(10, 10, 10, 0.8);
        }
      }
    }
  }
}

.work-list {
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  justify-items: flex-end;
  &__item {
    flex-shrink: 0;
    height: 137px;
    width: 100%;
    position: relative;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 4px;
    padding-bottom: 24px;
    .frame {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: auto;
    }
    &-info {
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: var(--gap);
      z-index: 1;
      position: relative;
      bottom: 26px;
      .title {
        font-size: clamp(
          var(--mono-heading4-mobile),
          3vw,
          var(--mono-heading3-desktop)
        );
        color: var(--greyscale-900);
      }
      .description {
        position: absolute;
        flex: 1;
        right: 0;
        min-width: 300px;
        text-align: left;
        text-wrap: nowrap;
      }
      .icon {
        position: absolute;
        right: 0;
        bottom: 0;
        opacity: 0;
      }
    }
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@include mobile-breakpoint {
  .work-container {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .work-content {
    &__info {
      gap: 24px;
    }
  }
  .work-list {
    &__item {
      height: 76px;
      &-info {
        bottom: 0px;
        .title {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
        }
        .description {
          display: none;
        }
        .icon {
          position: relative;
          opacity: 1;
          top: 15px;
        }
      }
    }
  }
}
