.folder-footer {
    position: absolute;
    height: 64px;
    background-color: var(--color-footer);
    width: 100%;
    z-index: 7;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__text {
      color: var(--greyscale-0);
      text-transform: uppercase;
      font-size: var(--fs-footer);
      line-height: var(--lh-footer);
      font-weight: normal;
    }
    &__button {
      gap: 8px;
      color: var(--greyscale-0);
      font-size: var(--mono-s-medium);
    }
  }