.folder-container {
  position: relative;
  margin-top: 16px;
  height: 100%;
  width: 100%;
}

.folder-button {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--ff-gc);
  font-size: var(--fs-folder-button);
  line-height: var(--lh-folder-button);
  font-weight: normal;
  text-transform: uppercase;
  color: var(--greyscale-0);
  padding: 16px;
  background-color: var(--folder-color);
  border-radius: 24px 24px 0 0;
  left: 22px;
  bottom: -1px;
  width: 217px;
  text-align: center;
  cursor: pointer;
  transition-duration: 150ms;
}

.folder-content {
  border-radius: 16px 16px 0 0;
  height: 100%;
  width: 100%;
  transition-duration: 150ms;
  box-shadow: -4px 0px 4px 0px var(--color-drop-shadow);
  -webkit-box-shadow: -4px 0px 4px 0px var(--color-drop-shadow);
  -moz-box-shadow: -4px 0px 4px 0px var(--color-drop-shadow);
}
