.loader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: var(--greyscale-900);
  overflow: hidden;
}

.loader__scene {
  position: absolute;
  inset: 26px 13px 0;
  perspective: 1600px;
  visibility: hidden;
}

.loader__flap {
  position: absolute;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0px;
  border-radius: 13px 13px 0 0;
  transform-origin: bottom center;

  @media (max-width: 768px) {
    top: 38px;
    border-radius: 0;
  }
}

.loader__flap-tab {
  position: absolute;
  bottom: calc(100% - 2px);
  width: 174px;
  height: 51px;
  border-radius: 19px 19px 0 0;

  @media (max-width: 768px) {
    width: calc((80vw) / 4);
    height: 38px;
    border-radius: 6px 6px 0 0;
  }
}

.loader__percent {
  position: absolute;
  bottom: clamp(32px, 8vw, 80px);
  right: clamp(32px, 6vw, 64px);
  font-family: var(--ff-gc);
  font-size: clamp(6rem, 12vw, 12rem);
  font-weight: 400;
  color: var(--greyscale-900);
  line-height: 1;
}
